<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        RealEstate Sol y Luna
    </title>
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/logoico.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/logoico.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/logoico.png">
    <!--Css todos-->



    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- TEMA ADMIN LTE -->
    <environment include="Development">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />

        <!-- Font Awesome Icons -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="~/css/adminlte.min.css">
        <link rel="stylesheet" href="~/css/spinCarga.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="~/js/calendar.js" asp-append-version="true" />
        <link rel="~/js/calendar.min.js" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/adminlte.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/spinCarga.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="~/js/calendar.js" asp-append-version="true" />
        <link rel="~/js/calendar.min.js" asp-append-version="true" />



        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" asp-append-version="true" />

    </environment>
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">


</head>
<body>

    <div class="wrapper">

        @*Navbar*@
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            @*Left navbar links*@
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>

            </ul>

            @*SEARCH FORM*@
            @*<form class="form-inline ml-3">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>*@


            @*Right navbar links*@
        <ul class="navbar-nav ml-auto">
            @*Messages Dropdown Menu*@
            <!--<li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-comments"></i>
            <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <a href="#" class="dropdown-item">-->
            @*Message Start*@
            <!--<div class="media">
        <img src="~/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
        <div class="media-body">
            <h3 class="dropdown-item-title">
                Brad Diesel
                <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
            </h3>
            <p class="text-sm">Call me whenever you can...</p>
            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
        </div>
    </div>-->
            @*Message End*@
            <!--</a>
    <div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item">-->
            @*Message Start*@
            <!--<div class="media">
        <img src="~/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
        <div class="media-body">
            <h3 class="dropdown-item-title">
                John Pierce
                <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
            </h3>
            <p class="text-sm">I got your message bro</p>
            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
        </div>
    </div>-->
            @*Message End*@
            <!--</a>
    <div class="dropdown-divider"></div>
    <a href="#" class="dropdown-item">-->
            @*Message Start*@
            <!--<div class="media">
        <img src="~/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
        <div class="media-body">
            <h3 class="dropdown-item-title">
                Nora Silvester
                <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
            </h3>
            <p class="text-sm">The subject goes here</p>
            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
        </div>
    </div>-->
            @*Message End*@
            <!--</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
    </li>-->
            @*Notifications Dropdown Menu*@
            @*<li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-bell"></i>
                <span class="badge badge-warning navbar-badge">15</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-header">15 Notifications</span>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <i class="fas fa-envelope mr-2"></i> 4 new messages
                    <span class="float-right text-muted text-sm">3 mins</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <i class="fas fa-users mr-2"></i> 8 friend requests
                    <span class="float-right text-muted text-sm">12 hours</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <i class="fas fa-file mr-2"></i> 3 new reports
                    <span class="float-right text-muted text-sm">2 days</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
            </div>
        </li>*@
            <li class="nav-item">

                <a asp-area="Cliente" asp-controller="Home" asp-action="Index" class="btn" target="_blank"><i class="fa fa-desktop" aria-hidden="true"></i> </a>
            </li>

            <li class="nav-item">

                <a asp-area="Admin" asp-controller="Account" asp-action="Logout" class="btn">Cerrar Sesion </a>
            </li>
        </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->

            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="brand-link">
                <img src="~/img/logoico.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">SOLYLUNA ADMIN</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/img/usuario.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <p class="text-white">Bienvenido(a)</p>
                        <a href="/Admin/Account/EditarAdministrador/@User.Identity.Name" style="cursor:pointer; font-size:small"> @User.Identity.Name</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Páginas de inicio
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="Admin" asp-controller="Vendedor" asp-action="Index" class="nav-link">
                                        <i class="fa fa-users nav-icon"></i>
                                        <p>Vendedores</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Admin" asp-controller="Propiedad" asp-action="Index" class="nav-link">
                                        <i class="fa fa-home nav-icon"></i>
                                        <p>Propiedades</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Admin" asp-controller="Comprador" asp-action="Index" class="nav-link">
                                        <i class="fa fa-user-friends nav-icon"></i>
                                        <p>Compradores</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Admin" asp-controller="AgendaOficina" asp-action="Index" class="nav-link">
                                        <i class="far fa-calendar-check nav-icon"></i>
                                        <p>Agenda Oficina</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Admin" asp-controller="Intermediarios" asp-action="Index" class="nav-link">
                                        <i class="fa fa-user-astronaut nav-icon"></i>
                                        <p>Intermediarios</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Admin" asp-controller="Account" asp-action="Administradores" class="nav-link">
                                        <i class="fa fa-user-check nav-icon"></i>
                                        <p>Usuarios del sistema</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a asp-area="Admin" asp-controller="Account" asp-action="ChangePassword" class="nav-link">
                                        <i class="fa fa-tools nav-icon"></i>
                                        <p>Configuraciones</p>

                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a asp-area="Admin" asp-controller="Propiedad" asp-action="PropiedadesEliminadas" class="nav-link">
                                        <i class="fa fa-trash-restore nav-icon"></i>
                                        <p>Propiedades eliminadas</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @*<li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p>
                                        Simple Link
                                        <span class="right badge badge-danger">New</span>
                                    </p>
                                </a>
                            </li>*@
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">

                    @RenderBody()

                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Administración Inmobiliaria
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2021 Realestate Sol y Luna.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

        <!--Js plugins-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
        <script src="https://kit.fontawesome.com/e5191341ee.js" crossorigin="anonymous"></script>

        <!-- AdminLTE App -->
        <script src="~/js/adminlte.min.js" asp-append-version="true"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>

    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
        <script src="https://kit.fontawesome.com/e5191341ee.js" crossorigin="anonymous"></script>


        <script src="~/js/adminlte.min.js" asp-append-version="true"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
