<section class="page-header" style="        background-image: url(/ContentCliente/assets/images/backgrounds/banner-servicios.jpg);
        padding: 90px 0px 70px
">
    <div class="Contact">
        <div class="page-header-inner">
            <h2>Servicios</h2>
            
        </div>
    </div>
</section>
<!--Como trabajamos Start-->
<section class="locations" style=" padding: 30px 0px 30px">
    <div class="how_it_works_shape_1">
        <img src="/ContentCliente/assets/images/shapes/how_it_works_shape_1.png" alt="">
    </div>
    <div class="container">
        <div class="block-title text-center">
            <h4>Puedes obtener multiples servicios por medio de nosotros</h4>
            <h2>Servicios <br /> Inmobiliarios </h2>
        </div>
       
        <div class="row">
            <div class="col-xl-12">
                <ul class="how_it_works_single list-unstyled">
                    <li>
                        <div class="how_it_works_img">
                            <img src="/ContentCliente/assets/images/about/asesoramiento.jpg" width="100%">
                            <div class="how_it_works_circle">
                                <p>01</p>
                            </div>
                        </div>
                        <div class="how_it_works_content">
                            <h3>ASESORIA INMOBILIDARIA</h3>
                            <p></p>
                           
                        </div>
                    </li>
                    <li class="item-2">
                        <div class="how_it_works_img">
                            <img src="/ContentCliente/assets/images/about/proyectos.jpg" width="100%">
                            <div class="how_it_works_circle">
                                <p>02</p>
                            </div>
                        </div>
                        <div class="how_it_works_content">
                            <h3>DESARROLLO DE PROYECTOS </h3>
                            <p></p>
                        </div>
                    </li>
                    <li>
                        <div class="how_it_works_img">
                            <img src="/ContentCliente/assets/images/about/prestamos.jpg" width="100%">
                            <div class="how_it_works_circle">
                                <p>03</p>
                            </div>
                        </div>
                        <div class="how_it_works_content">
                            <h3>PRESTAMOS PRIVADOS</h3>
                            <p></p>
                        </div>
                    </li>
                    @*<li class="item-4">
                        <div class="how_it_works_img">
                            <img src="/ContentCliente/assets/images/resources/how_it_works_img_4.png" alt="">
                            <div class="how_it_works_circle">
                                <p>04</p>
                            </div>
                        </div>
                        <div class="how_it_works_content">
                            <h3>Servicio 4</h3>
                            <p>TEXTO</p>
                        </div>
                    </li>*@
                </ul>
            </div>
        </div>
        @*<div class="row" style="margin-top:100px">
            <div class="col-xl-12">
                <ul class="how_it_works_single list-unstyled">
                    <li>
                        <div class="how_it_works_img">
                            <img src="/ContentCliente/assets/images/resources/how_it_works_img_1.png" alt="">
                            <div class="how_it_works_circle">
                                <p>05</p>
                            </div>
                        </div>
                        <div class="how_it_works_content">
                            <h3>Servicio 5</h3>
                            <p>TEXTO</p>
                            <button class="btn btn-success" type="btn button">FORMULARIO</button>
                        </div>
                    </li>
                    <li class="item-2">
                        <div class="how_it_works_img">
                            <img src="/ContentCliente/assets/images/resources/how_it_works_img_2.png" alt="">
                            <div class="how_it_works_circle">
                                <p>06</p>
                            </div>
                        </div>
                        <div class="how_it_works_content">
                            <h3>Servicio 6</h3>
                            <p>TEXTO</p>
                        </div>
                    </li>
                    <li>
                        <div class="how_it_works_img">
                            <img src="/ContentCliente/assets/images/resources/how_it_works_img_3.png" alt="">
                            <div class="how_it_works_circle">
                                <p>07</p>
                            </div>
                        </div>
                        <div class="how_it_works_content">
                            <h3>Servicio 7</h3>
                            <p>TEXTO</p>
                        </div>
                    </li>
                    <li class="item-4">
                        <div class="how_it_works_img">
                            <img src="/ContentCliente/assets/images/resources/how_it_works_img_4.png" alt="">
                            <div class="how_it_works_circle">
                                <p>08</p>
                            </div>
                        </div>
                        <div class="how_it_works_content">
                            <h3>Servicio 8</h3>
                            <p>TEXTO</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>*@
    </div>
    <div class="Contact" style="margin-top:40px;">
        <div class="page-header-inner">
            <button class="btn btn-info"> <a style="color:white;" asp-area="Cliente" asp-controller="Contacto" asp-action="Index">CONTACTAR</a></button>
        </div>
    </div>
</section>