@model Modelos.ViewModels.Usuario.ChangePasswordViewModel

@{
    ViewData["Title"] = "Cambiar Contraseña";

    var mensaje = ViewBag.Mensaje;
    var estilo = string.Empty;
    var display = "none";

    if (mensaje == "OK")
    {
        mensaje = "Contraseña cambiada correctamente";
        estilo = "text-success text-center";
        display = "normal";
    }
    else if (mensaje == "Fallo")
    {
        mensaje = "La contraseña ingresada no corresponde a la actual";
        estilo = "text-danger text-center";
        display = "normal";
    }
    else if (mensaje == "No existe")
    {
        mensaje = "El usuario no está registrado";
        estilo = "text-danger text-center";
        display = "normal";
    }
    else
    {
        mensaje = string.Empty;
    }

}

<div class="container-fluid bg-white mt-5">
    <h4 class="text-center">Cambiar Contraseña</h4>
    <div class="row mt-2 text-center">

        <div class="col-md-4 offset-md-4">
            <form method="post" asp-action="ChangePassword">

                <div asp-validation-summary="ModelOnly"></div>

                <h5 class=@estilo style="display:@display"> @mensaje </h5>

                <div class="form-group">
                    <label asp-for="ViejaContrasenia">Contraseña actual</label>
                    <input asp-for="ViejaContrasenia" type="password" class="form-control" />
                    <span asp-validation-for="ViejaContrasenia" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NuevaContrasenia">Nueva Contraseña</label>
                    <input asp-for="NuevaContrasenia" type="password" class="form-control" />
                    <span asp-validation-for="NuevaContrasenia" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmacionContrasenia">Confirmar Contraseña</label>
                    <input asp-for="ConfirmacionContrasenia" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmacionContrasenia" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <input type="submit" class="btn btn-success" value="Aceptar" />

                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
