
@{
    ViewData["Title"] = "Confirmar Correo";
}

<div class="text-center m-5">
    <p>
        Gracias por confirmar tu correo, ahora puedes iniciar sesión en el sistema
        <a asp-area="Admin" asp-controller="Account" asp-action="Login" class="btn btn-primary mt-2">INICIAR SESIÓN</a>
    </p>
</div>