@model Modelos.ViewModels.Usuario.RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recuperar contraseña";
}

@{
    Layout = "_LayoutRecoverPassword";
}

<div class="row mt-5 mfp-bg text-center">
    <div class="col-md-4 offset-md-4">
        <form id="RecuperarContraseniaForm">

            <div class="form-group mt-5 text-center">
                <h3 asp-for="Email">Recuperar contraseña</h3>
                <hr class="text-success"/>  
                <h4 asp-for="Email">Ingrese su correo</h4>
                <input asp-for="Email" id="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="row text-center">
                <div class="col-md-12 text-center">
                    <div class="card">
                        <div class="align-items-center m-2">

                            <button type="submit" id="SubmitBtn" class="btn btn-primary">Aceptar</button>
                            <a asp-area="Admin" asp-controller="Account" asp-action="Login" id="login" class="btn btn-success">Volver a inicio de sesión</a>
                            <div class="alert alert-danger alert-dismissible mt-2" id="muestraError">
                                <h5><i class="icon fas fa-ban text-danger"></i> Ha ocurrido un error </h5>
                                <p id="mensajeError" class="text-danger"> </p>
                                <p id="muestraExito" class="text-success"> </p>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-success alert-dismissible mt-2 text-center" id="divExitoso">
                        <h5><i class="icon fas fa-ban text-success"></i> Correcto </h5>
                        <p id="mensajeExito" class="text-success"> </p>
                    </div>
                </div>
            </div>
        </form>
        <div class="text-success">
            <p>
                @ViewBag.Message
            </p>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/js/logicaSitio/Usuarios/recuperarContrasenia.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}