@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--Page Header Start-->
<section class="page-header" style="        background-image: url(/ContentCliente/assets/images/backgrounds/Banner-About.jpg);
        padding: 90px 0px 70px
">
    <div class="container">
       
        <div class="page-header-inner">
            <h2>Acerca de Nosotros</h2>
            
        </div>
    </div>
</section>
<!--Page Header End-->
<section class="about_page" style="padding: 40px 0px 20px">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="about_page_left">
                    <div class="about_page_img">
                        <img src="~/ContentCliente/assets/images/about/about2.jpg" />

                    </div>
                    <div class="about_page_img">
                        <p class="first_text">Elda Vásquez Espinoza - Agente Inmobiliaria  </p>
                    </div>
                    
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about_page_right">
                    <div class="block-title text-left">
                        <h4>Encuentra tu propiedad</h4>
                        <h2>Consolidados en el Mercado</h2>
                    </div>
                    <div class="about_page_right_text">
                        <p class="first_text">
                            Sol y Luna Real Estate es una empresa de más de 13 años de experiencia en el mercado de los Bienes Raíces
                        </p>
                        <p class="second_text">
                            Contamos con una amplia cartera de propiedades y servicios que le podemos brindar a nuestros clientes de forma oportuna
                            en el momento que estos lo necesiten.
                            Nos caracterizamos por ser una empresa responsable, eficiente y de constante actualización, buscamos que nuestros clientes
                            sientan confianza en nuestros por ello, brindamos un seguimiento constante y ayuda en trámites para su tranquilidad.

                            Trabajamos bajo estrictos parámetros legales y de directrices dictadas por la Cámara de Corredores de Bienes raíces en Costa Rica,
                            garantizando con esto transparencia frente a compradores y vendedores.
                        </p>
                    </div>
                    <h2>Valores empresariales</h2> <br />
                    <ul class="about_page_list list-unstyled">
                        <li><i class="fa fa-check"></i>Compromiso.</li>
                        <li><i class="fa fa-check"></i>Eficacia.</li>
                        <li><i class="fa fa-check"></i>Profesionalismo.</li>
                        <li><i class="fa fa-check"></i>Excelencia.</li>
                        <li><i class="fa fa-check"></i>Responsabilidad.</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About Page End-->
<!--Are You Ready Start-->
<section class="are_you_ready jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
         style="background-image: url(assets/images/backgrounds/are_you_ready_bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="are_you_ready_content">
                    <div class="are_you_ready_shape">
                        <img src="~/ContentCliente/assets/images/shapes/are_you_ready_shape.png"
                             alt="">
                    </div>
                    <h2>Estás listo para encontrar  <br> la propiedad de tus sueños?</h2>

                    <a class="thm-btn" asp-area="Cliente" asp-controller="Home" asp-action="Index">Buscar Propiedades</a>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!--Are You Ready End-->
<!--Testimonials Two Start-->
<!--<section class="testimonials_two">
    <div class="container_box">
        <div class="block-title text-center">
            <h4>Comentarios de las clientes</h4>
            <h2>Lo que están diciendo</h2>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4">-->
                <!--Testimonials Two Single-->
                <!--<div class="testimonials_two_single wow fadeInUp" data-wow-delay="00ms">
                    <div class="testimonials_two_text">
                        <p>
                            Me impresionó mucho el servicio de esta empresa, nos atendieron de lo mejor y nos dieron muchas opciones. 
                        </p>
                    </div>
                    <div class="testimonials_two_author_info">
                        <div class="testimonials_two_author_name">
                            <h4>Mike Hardson</h4>
                            <p>Cliente</p>
                        </div>
                        <div class="testimonials_two_quote_icon">
                            <img src="assets/images/shapes/testimonials-qoute-1-1.png" alt="">
                        </div>
                    </div>
                    <div class="testimonials_two_author_img">
                        <img src="assets/images/testimonials/testimonial-2-1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">-->
                <!--Testimonials Two Single-->
                <!--<div class="testimonials_two_single wow fadeInUp" data-wow-delay="100ms">
                    <div class="testimonials_two_text">
                        <p>
                           Fun muy interesante la facilidad de sus empleados para comprender cual era realmente mi necesidad.
                        </p>
                    </div>
                    <div class="testimonials_two_author_info">
                        <div class="testimonials_two_author_name">
                            <h4>Sarah Albert</h4>
                            <p>Cliente</p>
                        </div>
                        <div class="testimonials_two_quote_icon">
                            <img src="assets/images/shapes/testimonials-qoute-1-1.png" alt="">
                        </div>
                    </div>
                    <div class="testimonials_two_author_img">
                        <img src="assets/images/testimonials/testimonial-2-2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">-->
                <!--Testimonials Two Single-->
                <!--<div class="testimonials_two_single wow fadeInUp" data-wow-delay="300ms">
                    <div class="testimonials_two_text">
                        <p>
                            Gracias por toda la ayuda que nos han brindado, es un nuevo cambio para nosotros!!!
                        </p>
                    </div>
                    <div class="testimonials_two_author_info">
                        <div class="testimonials_two_author_name">
                            <h4>Kevin Martin</h4>
                            <p>Cliente</p>
                        </div>
                        <div class="testimonials_two_quote_icon">
                            <img src="assets/images/shapes/testimonials-qoute-1-1.png" alt="">
                        </div>
                    </div>
                    <div class="testimonials_two_author_img">
                        <img src="assets/images/testimonials/testimonial-2-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!--Testimonials Two End-->
<!--Team One Start-->
<!--<section class="team_one">
    <div class="container">
        <div class="block-title text-center">
            <h4>Personal Experto</h4>
            <h2>Conozca Nuestro Equipo</h2>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6">-->
                <!--Team One Single-->
                <!--<div class="team_one_single wow fadeInLeft" data-wow-delay="100ms">
                    <div class="team_one_img">
                       
                        <img src="~/ContentCliente/assets/images/team/persona1.jpg" alt="" height="303px" width="270px">
                    </div>
                    <div class="team_one_content">
                        <h4>Nineth Vazques</h4>
                        <a href="tel:+506 8728 9082"><i class="fa fa-phone"></i>+506 8728 9082</a>
                    </div>
                    <div class="team_one_view_details">
                        <a href="#">Agente recepción</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">-->
                <!--Team One Single-->
                <!--<div class="team_one_single wow fadeInLeft" data-wow-delay="200ms">
                    <div class="team_one_img">
                        <img src="~/ContentCliente/assets/images/team/persona3.jpg" alt="" height="303px" width="270px">
                    </div>
                    <div class="team_one_content">
                        <h4>Mike Hardson</h4>
                        <a href="tel:888-666-000"><i class="fa fa-phone"></i>888 666 000</a>
                    </div>
                    <div class="team_one_view_details">
                        <a href="#">Agente recepción</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">-->
                <!--Team One Single-->
                <!--<div class="team_one_single wow fadeInLeft" data-wow-delay="300ms">
                    <div class="team_one_img">
                        <img src="~/ContentCliente/assets/images/team/persona2.jpg" alt="" height="303px" width="270px">
                    </div>
                    <div class="team_one_content">
                        <h4>Christine Eve</h4>
                        <a href="tel:888-666-000"><i class="fa fa-phone"></i>888 666 000</a>
                    </div>
                    <div class="team_one_view_details">
                        <a href="#">Agente recepción</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">-->
                <!--Team One Single-->
                <!--<div class="team_one_single wow fadeInLeft" data-wow-delay="400ms">
                    <div class="team_one_img">
                        <img src="~/ContentCliente/assets/images/team/persona4.jpg" alt="" height="303px" width="270px">
                    </div>
                    <div class="team_one_content">
                        <h4>David Cooper</h4>
                        <a href="tel:888-666-000"><i class="fa fa-phone"></i>888 666 000</a>
                    </div>
                    <div class="team_one_view_details">
                        <a href="#">Agente recepción</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!--Team One End-->
<!--Brand Two Start-->
<!--<div class="brand_one two">
    <div class="container">
        <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 100, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
                "0": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "375": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "575": {
                    "spaceBetween": 30,
                    "slidesPerView": 3
                },
                "767": {
                    "spaceBetween": 50,
                    "slidesPerView": 4
                },
                "991": {
                    "spaceBetween": 50,
                    "slidesPerView": 5
                },
                "1199": {
                    "spaceBetween": 100,
                    "slidesPerView": 5
                }
            }}'>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/images/brand/brand_2_img_1.png" alt="">
                </div>--><!-- /.swiper-slide -->
                <!--<div class="swiper-slide">
                    <img src="assets/images/brand/brand_2_img_2.png" alt="">
                </div>--><!-- /.swiper-slide -->
                <!--<div class="swiper-slide">
                    <img src="assets/images/brand/brand_2_img_3.png" alt="">
                </div>--><!-- /.swiper-slide -->
                <!--<div class="swiper-slide">
                    <img src="assets/images/brand/brand_2_img_4.png" alt="">
                </div>--><!-- /.swiper-slide -->
                <!--<div class="swiper-slide">
                    <img src="assets/images/brand/brand_2_img_5.png" alt="">
                </div>--><!-- /.swiper-slide -->
                <!--<div class="swiper-slide">
                    <img src="assets/images/brand/brand_2_img_1.png" alt="">
                </div>--><!-- /.swiper-slide -->
                <!--<div class="swiper-slide">
                    <img src="assets/images/brand/brand_2_img_2.png" alt="">
                </div>--><!-- /.swiper-slide -->
                <!--<div class="swiper-slide">
                    <img src="assets/images/brand/brand_2_img_3.png" alt="">
                </div>--><!-- /.swiper-slide -->
                <!--<div class="swiper-slide">
                    <img src="assets/images/brand/brand_2_img_4.png" alt="">
                </div>--><!-- /.swiper-slide -->
                <!--<div class="swiper-slide">
                    <img src="assets/images/brand/brand_2_img_5.png" alt="">
                </div>--><!-- /.swiper-slide -->
            <!--</div>
        </div>
    </div>
</div>-->
<!--Brand Two End-->