@model Modelos.ViewModels.Clientes.RegistrarIntermediarioViewModel

@{
    ViewData["Title"] = "Intermediarios";
}

<link rel="stylesheet" href="~/plugins/sweetalert2/sweetalert2.min.css">

<link rel="stylesheet" href="~/plugins/sweetalert2/sweetalert2.min.js">

<div class="container-fluid mt-2 bg-white">
    <div class="row mb-2">
        <div class="col-12">
            <h2 class="text-gray-dark text-center"> Lista de Intermediarios </h2>
        </div>
        <hr />
        <div class="col-12 text-center">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal-lg-registrar-intermediario">
                <i class="fas fa-plus"> Nuevo Intermediario</i>
            </button>
        </div>
    </div>

    <table id="tblIntermediarios" class="table table-hover table-bordered table-responsive table-striped mt-2" style="width:100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre Completo</th>
                <th>Identificación</th>
                <th>Tipo</th>
                <th>Correo</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>

</div>

@* Modal para el registro de un nuevo vendedor *@
<div class="modal fade" id="modal-lg-registrar-intermediario" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> <i class="fa fa-users nav-icon"></i> Nuevo Intermediario</h4>
                <button type="button" id="cerrarModal" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Datos del Intermediario </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <form id="RegistrarIntermediarioForm">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group" data-select2-id="119">
                                        <label>Tipo Intermediario</label>
                                        <select id="tipoIntermediario" name="tipoIntermediario" class="form-control">

                                            <option value="0" selected>Seleccione un tipo de intermediario</option>
                                            <option value="1">COMISIONISTA</option>
                                            <option value="2">REFERIDO</option>
                                            <option value="3">RECOMENDANTE</option>
                                        </select>
                                        <span id="ErrorTipoIntermediario" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Identificación</label>
                                        <input asp-for="Identificacion" id="identificacion" name="identificacion" class="validaCed form-control input-sm" />
                                        <div id="statusIden"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input asp-for="Nombre" id="nombre" class="form-control input-sm" />
                                        <span asp-validation-for="Nombre" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Primer Apellido </label>
                                        <input asp-for="Apellido1" id="apellido1" class="form-control input-sm" />
                                        <span asp-validation-for="Apellido1" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Segundo Apellido</label>
                                        <input asp-for="Apellido2" id="apellido2" class="form-control input-sm" />
                                        <span asp-validation-for="Apellido2" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Tel. Móvil</label>
                                        <input asp-for="TelefonoMovil" id="telMovil" class="validanumericos form-control input-sm" />
                                        <span asp-validation-for="TelefonoMovil" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Tel. Oficina</label>
                                        <input asp-for="TelefonoOficina" id="telOficina" class="validanumericos form-control input-sm" />
                                        <span asp-validation-for="TelefonoOficina" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Tel. Casa</label>
                                        <input asp-for="TelefonoCasa" id="telCasa" class="validanumericos form-control input-sm" />
                                        <span asp-validation-for="TelefonoCasa" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Correo electrónico</label>
                                        <input asp-for="CorreoElectronico" id="correo" onchange='email_validate(this.value)' class="form-control input-sm" />
                                        <div id="status" class="text-danger"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label> Provincias </label>
                                        <select asp-for="ProvinciaId" asp-items="Model.Provincias" id="idProvincia" name="provincias" class="form-control"></select>
                                        <span asp-validation-for="ProvinciaId" id="ErrorProvincias" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label> Cantones </label>
                                        <select asp-for="CantonId" asp-items="Model.Cantones" id="idCanton" name="cantones" class="form-control"></select>
                                        <span asp-validation-for="CantonId" id="ErrorCantones" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Distritos </label>
                                        <select asp-for="DistritoId" asp-items="Model.Distritos" id="idDistrito" name="distritos" class="form-control"></select>
                                        <span asp-validation-for="DistritoId" id="ErrorDistritos" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label> Dirección exacta </label>
                                        <textarea asp-for="DireccionExacta" id="direccion" class="form-control"></textarea>
                                        <span asp-validation-for="DireccionExacta" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="card">
                                        <div class="align-items-center m-2">
                                            <button type="button" class="btn btn-warning" id="btnCancelarRegistroIntermediario" data-dismiss="modal">Cancelar</button>
                                            <button type="submit" id="SubmitBtn" class="btn btn-success">Guardar</button>
                                            <div class="alert alert-danger alert-dismissible mt-2" id="muestraError">

                                                <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error </h5>
                                                <p id="mensajeError"> </p>
                                            </div>
                                            <div class="alert alert-warning alert-dismissible mt-2" id="muestraAdvertencia">

                                                <h5><i class="icon fas fa-exclamation-triangle"></i> Atención!</h5>
                                                <p id="mensajeAdvertencia"> </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts {

        <script src="~/js/logicaSitio/Clientes/Validaciones.js"></script>
        <script src="~/js/logicaSitio/Clientes/Intermediarios.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
