@{
    ViewData["Title"] = "Error404";
}

<br />
<br />
<img src="~/ContentCliente/assets/images/backgrounds/banner-contacto-01.jpg" />
<h2>Lo sentimos, el recurso al que intenta acceder no existe o no está actualmente disponible</h2>