
<section class="listing_one_wrap">
    <section class="page-header" style="background-image: url(/ContentCliente/assets/images/backgrounds/bannerProp.jpg);">
        <div class="container">
            <div class="page-header-inner">
                <h2>Esta propiedad ya no se encuentra <br/>
                disponible</h2>
                <ul class=" list-unstyled">
                    <li style="color:white">SIGUE NAVEGANDO</li>
                </ul>
            </div>
        </div>
    </section>
 </section>