@{
    ViewData["Title"] = "Confirmar correo";
}

<div class="text-center m-5">
    <h1 class="m-2">
        Has establecido tu contraseña correctamente
    </h1>

    <a href="/Admin/Account/Login" class="btn btn-success">Ir a iniciar sesión</a>
</div>